<script src="/js/feed.js"></script>

<section id="feed-posts" class="feed-posts">
   <% if(locals.user){%>
  <div class="card">
      <div class="container">
        <form action="/post/create" id="post-form" method="POST" enctype="multipart/form-data">

          <div class="input-area">
            <textarea name="content" cols="30" rows="3" placeholder="Want to share something..." class="post-textarea" required></textarea>

            <div class="uploaded-item-stack" id="uploaded-item-stack">
              
            </div>
            <div class="upload-section">
              <div class="file-upload" tabindex="1">
                <label for="postimage"><i class="fa fa-image"></i> <span>Image</span></label>
                <input type="file" name="postfile" id="postimage" onchange="checkUpload(event, 'uploaded-item-stack')">
              </div>

              <div class="file-upload">
                <label for="postvideo"><i class="fa fa-video"></i> <span>Video</span></label>
                <input type="file" name="postvideo" id="postvideo" accept="video/*">
              </div>
  
              <div class="file-upload">
                <label for="postvideo"><i class="fa fa-music"></i> <span>Audio</span></label>
                <input type="file" name="postvideo" id="postvideo" accept="audio/*">
              </div>
  
              <div class="file-upload">
                <label for="postfile"><i class="fa fa-file"></i> <span>File</span></label>
                <input type="file" name="postfile" id="postfile">
              </div>
            </div>
          </div>

            <input type="submit" value="Post" class="button">
        </form>  
      </div>
    </div>
  <%}%>
  <div id="post-container" class="post-container">
    <ul>
        <% for (post of posts) { %>
          <%-include('_post')-%>
          <% } %>
    </ul>
  </div>
  
  </section>