<!-- <link rel="stylesheet" href="/css/footer.css">
<footer id="layout-footer">
    <div>
        <p>
            &#169; Anshu Rai
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/user/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer> -->