<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                   Asocial
                </a>
            </p>
        </div>

        <div class="search-header">
            <form id="search-form" action="/user/search"  method="POST">
            <input type="email" name="email" placeholder="Your Email" required>
            <button type="submit" id="searchbtn" > <i class="fas fa-search" style="height: 100%;width: 100%;"></i></button>
            </form>
            
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a href="/user/profile/<%=user._id%>">
                        <img id="profile-pic-head"src="<%=user.avatar%>" alt="<%=user.name%>"></a>
                </li>
                <li>
                    <a href="/user/signout">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/user/signin">Sign In</a>
                </li>
                <li>
                    <a href="/user/signup">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>