<link rel="stylesheet" href="/css/header.css">
<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                   Asocial
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a href="/user/profile"><%= user.name %></a>
                </li>
                <li>
                    <a href="/user/signout">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/user/signin">Sign In</a>
                </li>
                <li>
                    <a href="/user/signup">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>