<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                   Colossal
                </a>
            </p>
        </div>

        <div class="search-header">
            <form id="search-form" action="/user/search"  method="GET">
                <div class="input-group search-header">
                    <input type="text" name="name" placeholder="Find People" required>
                    <button type="submit" id="searchbtn" ><i class="fa fa-search"></i></button>
                </div>
            </form>
            
        </div>
    
        <div class="auth-links">
            <% if (locals.user){ %>
                <div class="item">
                    <a href='/user/chatbot'>ChatBot </a>
                    <a href="/user/signout">Sign Out</a>
                   
                </div>
            <% }else{ %>
                <div class="item">
                    <a href="/user/signin">Sign In</a>
                </div>
                <div class="item">
                    <a href="/user/signup">Sign Up</a>
                </div>
            <% } %>
        </div>
    </nav>
</header>