<div id='bot-container'>
   <h1 class='title'>Hey <%=user.name%> This is Your Personal <%=title%></h1>
    <div id='img'>
      <img class='bot-img'src=https://wordstream-files-prod.s3.amazonaws.com/s3fs-public/styles/simple_image/public/images/chatbots-header.png>
    </div>

    <div id='info1'>
       <p class='bot-info'> <h3>ChatBot</h3></p>
       <p class='bot-info'>Powered By Emotional Intelligence</p>

       <p><h2>To be Live Soon</h2></p>

       <p class='auth-info'>Developed By Anshu Rai as Part of Major Project</p>
    </div>

</div>