


<h1>Welcome to <%=title%></h1>


<% if (locals.user) {%>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/post/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<%}%>


<div id="post-cnatiner">
    <ul>
  
       <% for (post of posts) { %>
         <%-include('_post')-%>
          <% } %>
    </ul>
  
  </div>