
<div class="form-page">
    <form action="/user/create-session" method="POST" class="main-form">
        <h2 class="form-heading white-text center m-b-20">Sign in</h2>
        <div class="input-group m-b-20">
            <button tabindex="-1">
                <i class="fa fa-user"></i>
            </button>
       
            <input type="email" name="email"  required placeholder="Email">
        </div>
            <input type="submit" value="Reset"  class="button dark-background white-text m-b-20">
        
        </form>
        </div>