<div>

    <P><h1> Resset Your Password</h1></P>
    <form action="/user/resetpassword/email" method="POST">
        <input type="email"name="email" placeholder="enter your registered mail" required>
        <input type="submit" value="Reset">

    </form>
</div>