
<div class="form-page">
    <form action="/user/create" method="POST" class="main-form">
        <h2 class="form-heading white-text center m-b-20">Sign up</h2>
        <div class="input-group m-b-20">
            <button tabindex="-1"><i class="fa fa-user"></i></button>
            <input type="text" name="name" placeholder="Your Name" required>
        </div>

        <div class="input-group m-b-20">
            <button tabindex="-1"><i class="fa fa-envelope"></i></button>
            <input type="email" name="email" placeholder="Your Email" required>
        </div>
        <div class="input-group m-b-20">
            <button tabindex="-1"><i class="fa fa-lock"></i></button>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="input-group m-b-20">
            <button tabindex="-1"><i class="fa fa-lock"></i></button>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        </div>
        <input type="submit" value="Sign Up" class="button dark-background white-text">
    </form>

</div>