
<h1>Welcome to <%=title%> Page</h1>
<form action="/user/create-session" method="POST">
    <input type="email" name="email"  required placeholder="Your Email">
    <input type="password"  name="password"  required placeholder="password">
    <input type="submit" value="signin"  >
</form>