
<div class="form-page">
        <form action="/user/create-session" method="POST" class="main-form">
            <h2 class="form-heading white-text center m-b-20">Sign in</h2>
            <div class="input-group m-b-20">
                <button tabindex="-1">
                    <i class="fa fa-user"></i>
                </button>

                <input type="email" name="email"  required placeholder="Email">
            </div>
            <div class="input-group m-b-20">
                <button tabindex="-1">
                    <i class="fa fa-lock"></i>
                </button>
                <input type="password"  name="password"  required placeholder="password">
            </div>
            <a href="/user/resetpassword/page" class="link m-b-10 white-text sm-text">Forgot Password?</a>
            <input type="submit" value="Sign in"  class="button dark-background white-text m-b-20">

            <div class="center white-text m-b-10">
                Or Login with
            </div>
            <div class="center white-text">
                <a href="/user/auth/google">
                    
                    <i class="fab fa-google google"></i>
                </a>
            </div>
        </form>
</div>    
