
<!-- saved from url=(0035)https://colossal1.godaddysites.com/ -->

<div id='welcome-page' style="  height:90%;
width:90%;
margin-top:5%;
border: 2px solid grey;">
    <h1 id='heading' style=" margin-top:40px;
    font-size:35px;
    text-align: center;
    font-display: bolder;
    color:grey;"> Colossal</h1>
    <p id='info' style="
    font-size: 15px;
    font-display: 200;
    text-align: center;
    color: rgb(39, 39, 39);
    margin-top:20px;">Welocme to colossal</p>
    
       <div id=' #img-container' style="height: 500px;
       width: 500px;
       margin:10%;
       background-color: grey;
       background-image: url('https://www.itl.cat/pngfile/big/45-452626_social-media-4k-ultra-hd-wallpaper-social-media.jpg');
       background-size: cover;"></div>

</div>
