$primary-color: #007bff;
$link-color: #007bff;
$google-color: #D44638;
$dark-color: #222831;
$light-color: #eeefff;
$sidebar-background: $dark-color;
$friends-sidebar-color: $light-color;
$page-background: #fdfdfd;
$card-background: $page-background;
$card-shadow: #e3e3e3;
