.home-container{
    display: grid;
    position: relative;
    max-width: $max-width;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: '. middle .';
    width: 100%;

    .sidebar{
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        background-color: $sidebar-background;
        padding-top: 30px;
    }
    .sidebar-container{
        height: 100%;
        overflow: auto;
        ul{
            list-style: none;
        }

        .item{
            padding: 10px;    
            display: flex;
            align-items: center;
        }

        .img{
           width: 50px;
           height: 50px; 
           border-radius: 50%;
        }

        .img+span{
            margin-left: 5px;
        }

        span{
            flex: 1;
            color: #fff;
        }
    }

    .post-container, .feed-posts{
        grid-area: middle;
    }

    .feed-posts{
        padding: 20px;
    }

    .friends-sidebar{
        right: 0;
        position: fixed;
        top: 60px;
        bottom: 0;
        background-color: $friends-sidebar-color;
    }
}

.post-textarea{
    resize: none;
    border: none;
    margin-bottom: 8px;
    font-family: Muli;
}


.feed-posts form{
    display: flex;
    flex-direction: column;

    .input-area{
        display: flex;
        flex-direction: column;
        border: 1px solid #aaa;
        border-radius: 15px;
        padding: 20px 15px 10px;
        margin-bottom: 15px;
    }

    .upload-section{
        display: flex;
    }
    .file-upload{
        display: flex;
        padding: 5px 13px;
        background: #bbe1fa;
        border-radius: 20px;
        margin: 0 5px;
        input{
            display: none;
        }
        
        label{
            cursor: pointer;
        }
    }

    .button{
        padding: 5px;
        border: none;
        background: $primary-color;
        color: #fff;
        border-radius: 4px;
    }
}

.uploaded-item-stack{
    padding: 10px 0;

    .upload-thumbnail{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 5px;
        margin: 0 5px 10px 0;
    }
}