#home-container{
    display: flex;
    
    #feed-posts{
        width: 50%;
        padding: 10px;
    }

    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: 100%;
    }
    #Freind
    {
        width: 20%;
        border-left: 1px solid lightgrey;

    }
}