.home-container{
    display: grid;
    position: relative;
    max-width: $max-width;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: '. middle .';

    .sidebar{
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        background-color: red;
    }

    .post-container, .feed-posts{
        grid-area: middle;
        padding: 20px;
    }

    .friends-sidebar{
        right: 0;
        position: fixed;
        top: 60px;
        bottom: 0;
        background-color: green;
    }
}