.m-b-20{
    margin-bottom: 20px;
}

.m-b-10{
    margin-bottom: 10px;
}

.primary-background{
    background-color: $primary-color;
}

.dark-background{
    background-color: $dark-color;
}

.white-text{
    color: #fff !important;
}

.center{
    text-align: center;
}

.link{
    color: $link-color;
    text-decoration: underline;
}

.sm-text{
    font-size: 12px;
}