

 
.usercard{
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #A9A9A9;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .desc{
        flex: 1;
    }
   
    .usercard-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .usercard-username {
        color: blue
    }
    .usercard-button {
        width: 100px;
        padding: 6px;
        margin:5px;
        border-radius: 5px;
        color: white;
        border: none;
    }
    .accept {
        background-color: green;
    }
    .reject {
        background-color: red;
    }
}


ul{
    &#search-result{
        display: flex;
        flex-wrap: wrap;
    }
}
