body{

    #profile-container
    {
        height: 80%;
        width: 80%;
        margin: 5%;
    

    #profile-pic
    {
        height: 100px;
        width: 100px;
        border-radius: 60px;
    }

    #profile-pic-head
    {
        height: 60px;
        width: 60px; 
        border-radius: 40px;
    }
 }

}
   