<div style="height: auto;width: 100%; font-size: 15px;">

    <p>
        <h1>Hello <%=user.name%></h1>


    </p>

    <p>Reset your Colossal Account Password </p>
    
 <h4>Link</h4>  <a href="http://localhost:8000/user/resetpassword/update/?id=<%=resetuser.key%>">http://localhost:8000/user/resetpassword/update/?id=<%=resetuser.key%></a>

   <br>
   <br>
   <p>Thanks & Regards</p>
   <h3>Team Colossal</h3>
</div>