<div style="height: auto;width: 100%; font-size: 15px;">

    <p>
        <h1>Hello <%=user.name%></h1>


    </p>

    <p>Reset your Colossal Account Password </p>
    
   <a href="http://localhost:8000/user/resetPassword&type=<%=resetuser%>"><button style="height: 60px;width: 30px; margin-left:40% ;background-color: chartreuse;"Reset Password></button></a>

</div>