

<div style="background-color:white; color:black;font-size: 15px;">

  <h3> Hi <%=comment.user.name%></h3>
<br>

<!--p>Your Comment <stromg><%=comment.content%></strong> Just got Published </p-->


   

  <p>Your Comment <strong><%=comment.content%> is Published</strong></p>
  
    <p>Thanks & regards</p>
    <h4>Team Colossalr</h4>

</div>