<div stryle="height:100px;width:90%">
   <img src="https://images.all-free-download.com/images/graphiclarge/santa_claus_in_red_192851.jpg">  
</div>

<div style="background-color:lightgray; color:black;font-size: 15px;">

  <p> Hi <span><h4> <%=comment.user.name%></h4></span></p>

    <br>
    <br>
<p>Your Comment <stromg><%=comment.content%></strong> Just got Published </p>

    <br>

    <p>Thanks & regards</p>
    <h4>Team Colossal</h4>

</div>