

<div style="background-color:white; color:black;font-size: 15px;">

  <h3> Hi <%=comment.user.name%></h3>
<br>

<!--p>Your Comment <stromg><%=comment.content%></strong> Just got Published </p-->


    <div stryle="height:100px;width:100%">
      <img src="https://www.birthdaywishes.expert/wp-content/uploads/2018/12/Merry-Christmas-1-500x500.jpg ">
   </div>

   <p>We wish You <strong> Merry Christmas</strong> Looking forward to see you in New year Till then  </p>
   <br>
   <p><h1>Keep Coding </h1></p>
  
    <p>Thanks & regards</p>
    <h4>Team Xcoder</h4>

</div>