#layout-footer {
  color: white;
  margin-top: 100%;
  background: grey;
  padding: 5px 10px; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
