#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 50%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey;
    height: 100%; }
  #home-container #Freind {
    width: 20%;
    border-left: 1px solid lightgrey; }
