<div >
    <p>
        <h3>Hello <%=data.to_user_name%></h3>
    </p>

    <p>
      
        <%if (data.user_avatar) {%>
            <img id="profile-pic"src="<%=data.user_avatar%> " class='img'>
            <%} else{%>
            
            <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='img'>
            <%}%>
        <h1><%=data.from_user_name%></h1> <span>>Wants to be Freind with you  Add him to confirm request</span>
        <br>
        <br>



    </p>

<br>
<br>

<h3>Thanks &regards </h3>
<p>Team colossal</p>
</div>