<div >
    <p>
        <h3>Hello <%=data.to_user_name%></h3>
    </p>

    <p>
        <h1><%=data.from_user%></h1> <span>Have unfreind you We are sorry that Your freindshi broke </span>
        <br>
        <br>

       <p> Why not send Freind reuqest Again </p>
       <h3>All the best</h3>

    </p>

<br>
<br>

<h3>Thanks &regards </h3>
<p>Team colossal</p>
</div>