<div>

    <p>Hello <h1><%=user.name%></h1></p>

    <p><h4>Welocme To colossal  </h4></p>
    <p>Colossa is a place ehre you can share information with each other and can chat with your freind
        <br>
        <br>
        <h4>Here is some instruction</h4>
        <br>
        <br>
        <h4>You can go to home page by clicking on logo after signin</h4>
        <br>
        <br>
        <h4>You can search for users using their email id</h4>
        <br>  <br>
        <h4>To chat with a person you must be friend with them add that person as yourfreind and let them add you then you can chat</h4>
        <br>
    </p>

    <p>WE wish you all the best Hopefully you enjoy neing at colossal</p>
    <p>You can contact us by reverting back to this mail</p>

    <P>Thanks & Regards</P>
    <h3>Team colossal</h3>
</div>