<div>

    <p>Hello <h1><%=user.name%></h1></p>

    <p><h4>Welocme To colossal  </h4></p>
    <p>Colossal is a place where you can share information with each other and can chat with your freind
        <br>
        <br>
       
        <br>
        <br>
        <h4>You can go to home page by clicking on logo after signin</h4>
        <br>
        <br>
        <h4>Search Your Freind</h4>
        <br>  <br>
        <h4>Send Freind Request </h4>
        <br>
        <br>
        <h4>If user Aceept your reuqest Congratulations You made A Freind</h4>
        <br>
        <h4>Now chat With your freind</h4>
    </p>

    <p>WE wish you all the best Hopefully you enjoy being at colossal</p>
    <p>You can contact us by reverting back to this mail</p>

    <P>Thanks & Regards</P>
    <h3>Team colossal</h3>
</div>