.input-group {
    display: flex;
    padding: 6px 12px;
    border-radius: 4px;
    background: #fff;

    input{
        border: none;
        font-size: 14px;
        width: 200px;
        margin-right: 5px;
        background-color: transparent;
    }

    button {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 14px;
        padding: 4px;
        margin-right: 5px;
    }
}

.button{
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.card{
    background-color: $card-background;
    box-shadow: 0 0 30px $card-shadow;
    margin: 30px 0;
    border-radius: 10px;

    .container{
        padding: 12px;
    }

    .header{
        display: flex;
        align-items: center;

        .title{
            flex: 1;
            margin-left: 15px;
        }

        .img-small{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

    }
}


.drop-down{
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    & > i{
        padding: 8px 13px;
        border-radius: 8px 8px 0 0;
    }
    ul{
        position: absolute;
        display: none;
        right: 0;
        bottom: -28px;
        background: #eee;
        border-radius: 8px 0 8px 8px;
        width: 150px;
    }

    &:hover{
        width: 150px;
        ul {
            display: block;
        }

        i {
            background: #eee;
        }
    }

    li{
        padding: 8px 13px;
        font-size: 14px;

        cursor: pointer;
        a{
            display: block;
        }
        &.hover-red:hover{
            color: #f0134d;
        }

        i{
            margin-right: 10px;
        }
    }
}